<?xml version="1.0"?>
<launch>
    <arg name="save_path" default="$(find home)/datasets/objects/" />

    <node pkg="home" type="capture.py" name="capture" output="screen">
        <param name="save_path" value="$(arg save_path)" />
        <param name="subscribe_image_topic" value="/camera/color/image_raw" />
    </node>
</launch>
