<?xml version="1.0"?>
<launch>
    <!--<arg name="save_path" default="$(find home)/datasets/objects/" />-->
    <arg name="save_path" default="/home/lennon/Desktop/imgs_db/" />
    <arg name="subscribe_image_topic" default="/usb_cam/image_raw" />
    <!--<arg name="subscribe_image_topic" default="/camera/color/image_raw" />-->

    <node pkg="home" type="capture.py" name="capture" output="screen">
        <param name="save_path" value="$(arg save_path)" />
        <param name="subscribe_image_topic" value="$(arg subscribe_image_topic)" />
    </node>
</launch>
