<launch>
  <rosparam file="$(find home)/param/ros.yaml"/>

  <!-- <node name="MapServer" pkg="map_server" type="map_server" output="screen" args="$(find home)/maps/map_20180813_final.yaml"/> -->
  <node name="MapServer" pkg="map_server" type="map_server" output="screen" args="$(find home)/maps/map_20180808.yaml"/>
    <!--TODO-->
  <!--<node name="MapServer" pkg="map_server" type="map_server" output="screen" args="/tmp/test.yaml"/>-->

  <include file="$(find home_bringup)/launch/minimal.launch" />
  <include file="$(find home)/launch/rplidar.launch" />
  <include file="$(find home)/launch/amcl.launch" />


  <!-- Move base -->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml" />

  <!-- <node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find home)/rviz/home.rviz" /> -->

</launch>
